<!-- <!DOCTYPE html>
<html>
<head>
    <title>PINNG - Internet Status</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>PINNG - Internet Status</h1>
    <table>
        <tr>
            <th>Connectivity</th>
            <th>Download Speed</th>
            <th>Upload Speed</th>
        </tr>
        <tr>
            <td>{{ data.connectivity }}</td>
            <td>{{ data.download_speed }}</td>
            <td>{{ data.upload_speed }}</td>
        </tr>
    </table>
    <script>
        setTimeout(function() {
            window.location.reload();
        }, 30000); // Reload every 30 seconds
    </script>
</body>
</html> -->

<html>
<head>
    <title>PINNG - Internet Status</title>
    </head>
</html>

